.container{
    width: 300px;
    height: fit-content;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin: auto;
    background: linear-gradient(
        170deg,
        #4ea4dd 0%,
        #2f698e 100%
    );
    box-shadow: inset 1px 0px 4px 3px #065391;
}
.display{
    height: 80px;
    margin: 50px 20px 20px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #e0e3d8;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 3px #3d79a7;;
    font-size: 25px;
}
.buttons{
    display: grid;
    margin: 0 20px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 5px;
    column-gap: 10px;
    height: 300px;
    margin-bottom: 30px;
    grid-template-rows: max-content;
    
}
.plus{
    grid-row: span 2;
}
button{
    background-color: #46a7de;
    border-radius: 5px;
    font-weight: 900;
    font-size: 18px;
}
#display {
    align-self: flex-end;
}
#memory {
    font-size: 18px;
}
